# Игнорируем настройки Rider
.idea/

# Игнорируем артефакты сборки (это самое важное, чтобы не засорять Git)
**/bin/
**/obj/

# Игнорируем локальную базу данных (она создаётся при запуске, коммитить её нельзя)
*.db
*.sqlite
*.sqlite3

# Игнорируем файл с зависимостями NuGet (он генерируется автоматически)
project.assets.json
